*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#banner1{
    display: block;
    background-color: blue;
    height: 50px;
    width: 100%;
}  

#banner1 p{
    position: relative;
    top: 7px;
    font-weight: bold;
    font-size: 30px;
    margin: 0;
    text-align: center;

}

#menu{
    min-width: 400px;
    width: 100%;
    height: 100%;
    position: relative;
    background-color: black;
}

#menu ul{
    float: left;
    left: 50%;
    position: relative;
    padding-top: 15px;
    margin-left: -60px;

}  

#menu ul li{
    margin-left: 20px;
    float: left;
    list-style-type: none;
    position: relative;
    left: -50%;
}

#menu ul li a{
    text-align: center;
    padding-top: 10px;
    display: inline-block;
    background-color: red;
    height: 30px;
    width: 200px;
    color: aliceblue;
    text-decoration: none;

}
#menu ul li a:hover{
color: cornflowerblue;
background-color: beige;
}


#banner2{
    display: block;
    background-color: blue;
    height: 50px;
    width: 100%;
}

#contenu{
    display: block;
    width: 900px;
    margin: auto;
}

#paragraphe1{
    margin-top: 5%;
} 

#services{
    margin-top: 10%;
    
}

#footer{
    padding-top: 20px;
    text-align: center;
    display: block;
    background-color: black;
    height: 60px;
    position: absolute;
    width: 100%;
    bottom: 0;

}
#footer p{
    color:aliceblue;
    font-weight: bold;
    position: relative;
    top: 18px;
}